* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: #b1b2bc;
    background-color: black;
}

main {
    position: relative;
}

label {
    margin-left: .5em;
    font-size: 1.2em;
    color: #000;
}

.hiden {
    visibility: hidden;
}